.Casts {
  position: relative;
  overflow: hidden; 
  padding: 10px;
  height: 220px;
  margin-top: 20px;
  scroll-behavior: smooth; 
  width: 50%;
}

.CastContainer {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none; 
}

.CastCard {
  flex: 0 0 auto; 
  width: 170px;
  margin: 10px;
  text-align: center;
}

.CastCard img {
  width: 80px;
  border-radius: 8px;
}

.CastCard a {
  text-decoration: none;
}

.CastCard div {
  margin-top: 3px;
}

.header {
  font-size: 30px;
  margin-left: 30px;
  font-weight: bold;
  margin-top: 10px;
}

.left-arrow, .right-arrow {
  position: absolute;
  background-color: white;
  font-size: 24px;
  border-radius: 30px;
  z-index: 1;
}

.left-arrow {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.right-arrow {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.image{
  height: 150px;
}
